<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BYU Information Systems</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbarmenu">
        <div class="container" id="navbarmenu">
            <div class="navbar-header" id="navbarmenu">
                <img id="msmlogo" src="http://marriottschool.byu.edu/wp-content/themes/msm_template/img/msm-logo-horizontal-header-light.svg">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="navbarmenu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Degrees
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Degrees", "Home", new { id = "bsis" })">BSIS</a></li>
                            <li><a href="@Url.Action("Degrees", "Home", new { id = "mism" })">MISM</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Raw(ViewBag.breadcrumb)
        @RenderBody()
        <hr />
        
        <footer>
            <br>
            <br>
            <br>
            <p>&copy; @DateTime.Now.Year - BYU Information Systems Department</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
